body{
	font-family: "Marker Felt","Comic Sans MS", fantasy;
	color:#003366;
       }

h1 {
	font-size: 1.3em;
	text-align:center;
	color:#1c801c;
     }

h2 {
	color:#4c6dff;
	font-family: "Pacifico", fantasy;
     }

table {
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	border-collapse: collapse;
	cellspacing: 0 px;
         }

td {
	border: 1px solid #ffffff;
	text-align:center;
	background-color:#9FB6CD; 
    }

th {
	text-align:center;
	color:#ffffff;
	background-color:#003366;
   }



body {
  padding: 20px;
}
button {
  margin-top: 30px;
  line-height: 60px;
  font-weight: bold;
  padding: 0 40px;
  background: green;
  border: none;
  border-radius: 2em;
}
button:hover {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    box-shadow: 0 0 40px 40px lightgreen inset;
}
